.ttr-main {
    display: flex;
    margin: auto;
    border: 10px darkgray solid;
}

.ttr-left-column {
    background-color: grey;
    color: white;
    padding: 10px;
}
.ttr-center-column {
    background-color: lightgray;
    padding: 10px;
}
.ttr-right-column {
    background-color: grey;
    color: white;
    padding: 10px;
}

/**
 * > 1300
 * 275 / 598-600 / 350
 */
@media only screen and (min-width: 1300px) {
    body {
        background-color: lightyellow;
    }
    .ttr-main {
        width: 1225px;
    }
    .ttr-left-column {
        width: 275px;
    }
    .ttr-center-column {
        width: 600px;
    }
    .ttr-right-column {
        width: 350px;
    }
}

/**
 * > 1100 & <1300
 * 88 / 598-600 / 350
 */
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .ttr-main { width: 1038px;  }
    .ttr-left-column { width: 88px; }
    .ttr-center-column { width: 600px; }
    .ttr-right-column { width: 350px; }
    body { background-color: lightblue; }
}

/**
 * > 1000 & < 1100
 * 88 / 598-600 / 290
 */
@media only screen and
(min-width: 1000px) and (max-width: 1100px) {
    .ttr-main { width: 978px; }
    .ttr-left-column { width: 88px; }
    .ttr-center-column { width: 600px; }
    .ttr-right-column { width: 290px; }
    body { background-color: lightcoral; }
}

/**
 * < 1000
 * 88 / 598-600
 */
@media only screen and (max-width: 1000px) {
    .ttr-main          { max-width: 688px; }
    .ttr-left-column   { width: 88px; }
    .ttr-center-column { width: 600px; }
    .ttr-right-column  { display: none; }
    body { background-color: lightgreen; }
}
