.ttr-tuits .ttr-tuit-avatar-logo {
    width: 48px;
}

.ttr-tuits .ttr-tuit-image {
    width: 100%;
    margin-top: 10px;
}

.ttr-tuits .ttr-tuit {
    max-width: 550px;
    width: 100%;
    display: flex;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
    border-top: none;
    overflow-x: hidden;
}
.ttr-tuits .ttr-tuit:first-child {
    border-top: 1px solid
    #EEEEEE;
}

.ttr-tuits .ttr-column-left {
    width: 60px;
}
.ttr-tuits .ttr-column-right {
    max-width: 490px;
    width: 100%;
    padding-left: 10px;
}
.ttr-tuits .ttr-tuit-heading {
    margin-bottom: 10px;
}

.ttr-tuits .ttr-tuit-image-wrapper {
    position: relative;
}

.ttr-tuits .ttr-tuit-image-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2em;
    color: white;
    font-weight: bolder;
}
.ttr-tuits .ttr-rounded-border {
    border-radius: 15px;
}
.ttr-tuits .ttr-circle-border {
    border-radius: 50%;
}
.ttr-tuits .ttr-responsive-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.ttr-tuits .ttr-responsive-video::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.ttr-tuits .ttr-responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ttr-tuits .ttr-tuit-table {
    overflow-x: auto;
}

.ttr-tuits .ttr-overflow-auto {
    margin-top: 10px;
    max-height: 300px;
    overflow: auto;
}
