body {
    overflow-x: hidden;
    font-size: 18px;
    font: 14px BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
}
.ttr-tuit h1 {
    margin: 0px;
    font-size: 1.5em;
}
.ttr-tuit .ttr-tuit-avatar-logo {
    width: 48px;
}
.ttr-tuits .ttr-tuit {
    max-width: 550px;
    display: flex;
    width: 100%;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    border-top: none;
}
.ttr-tuits .ttr-tuit:first-child {
    border-top: 1px solid #DDDDDD;
}
.ttr-tuit .ttr-column-left {
    width: 60px;
}
.ttr-tuit .ttr-column-right {
    max-width: 490px;
    width: 100%;
    padding-left: 10px;
}
.ttr-tuit .ttr-tuit-image {
    width: 100%;
    margin-top: 10px;
}

/*.ttr-tuit-image-responsive {*/
/*    width: 100%;*/
/*    max-height: 200px;*/
/*    margin-top: 10px;*/
/*}*/

.ttr-tuit .ttr-tuit-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.ttr-tuit .ttr-tuit-image-wrapper {
    position: relative;
}

.ttr-tuit .ttr-tuit-image-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2em;
    color: white;
    font-weight: bolder;
}

.ttr-tuit .ttr-rounded-corner {
    border-radius: 15px;
}

.ttr-tuit .ttr-circle-border {
    border-radius: 50%;
}

.ttr-tuit .ttr-responsive-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.ttr-tuit .ttr-responsive-video::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.ttr-tuit .ttr-responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ttr-tuit .ttr-tuit-table {
    overflow-x: auto;
}

.ttr-tuit .ttr-overflow-auto {
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
}
