body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ttr-tuits .ttr-tuit-avatar-logo {
  width: 48px;
}

.ttr-tuits .ttr-tuit-image-overlay {
  left: 10px;
}

.ttr-tuits .ttr-responsive-video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}